mixin js(p)
  script(type='text/javascript', src=p)

mixin css(p)
  link(rel='stylesheet', href=p)

mixin tf(name, label, placeholder)
  .form-group
    label.control-label.col-lg-2.col-lg-offset-2 #{label}
    .col-lg-8
      input(type='text', name=name, placeholder=placeholder).form-control

mixin pass(name, label, placeholder)
  .form-group
    label.control-label.col-lg-2.col-lg-offset-2 #{label}
    .col-lg-8
      input(type='password', name=name, placeholder=placeholder).form-control