mixin js(p)
  script(type='text/javascript', src=p)

mixin css(p)
  link(rel='stylesheet', href=p)

mixin tf(name, label, placeholder)
  .control-group
    label.control-label #{label}
    .controls
      input(type='text', name=name, placeholder=placeholder)